	<style>
body{
	background:none;
}
</style>

	<div class="tt">
		<embed src="<%= @attachment.filepath %>" width="100%" height="800"
			allowfullscreen="true">

			<p></p>
		</embed>
	</div>			
	<script type="text/javascript">
	$('.tt').show();
	</script>