
<div class="row">
  <div class="span9">
    <h1>  <%=@setting.title %></h1>
    <div></div><iframe  width="530" height="300"  src="//www.youtube.com/embed/NklipvTBf64?autoplay=1&controls=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="span3">
    <h2>About Us</h2>
        <div style="margin-top:-30px"><%=simple_format h  @setting.aboutUS %></div>
  </div>
</div>